.app {
  margin: 20px auto;
  background-color: white;
  width: 96%;
  border-radius: 10px;
}

.action {
  border-bottom: 1px solid gray;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-check {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.action .delete {
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.action .header {
  font-size: 20px;
  font-weight: bold;
}
