.app {
  height: 100vh;
  background-color: rgb(220, 225, 228);
  position: relative;
}

.container {
  position: absolute;
  top: 2%;
  left: 1%;
  background-color: white;
  width: 98%;
  height: 96%;
  border-radius: 10px;
}

.action {
  border-bottom: 1px solid gray;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-check {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.action span {
  color: red;
  cursor: pointer;
  font-weight: bold;
}
