@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Gabarito:wght@400;500;600;700;800;900&family=Lobster+Two&family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
